/*
  Simple css reset. It is highly recommended to use a proper css styling package
  (like styled-components or css-modules) and not to use global css for anything other than a css reset
*/

html {
  font-family: Trebuchet MS, sans-serif;

  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
